{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    "espower",
    ["module-alias", [
      {
        "src": "./src/app",
        "expose": "$app"
      },
      {
        "src": "./src/app/shared",
        "expose": "$shared"
      }
    ]]
  ]
}
